In [1]:
import pandas as pd

In [2]:
df = pd.read_json('./data.json')

FileNotFoundError: File ./data.json does not exist

In [19]:
df.head()

,title,date,venue,category,location
0,Criminal,2024-02-05T00:00:00-08:00,The Moore Theatre,Theatre,Downtown
1,Neck Deep,2024-02-05T00:00:00-08:00,Showbox SoDo,Music,Pioneer Square
2,Joey Valence and Brae,2024-02-06T00:00:00-08:00,Barboza,Music,Capitol Hill / Central District
3,Kazu Kibuishi with Donna Barba Higuera,2024-02-06T00:00:00-08:00,Town Hall Seattle,Readings & Lectures,Downtown
4,Kristin Hannah,2024-02-06T00:00:00-08:00,Benaroya Hall,Readings & Lectures,Downtown

In [22]:
df[df.title.str.startswith('An Evening')]

,title,date,venue,category,location
12,An Evening with Tina Campt: Black Feminist Vis...,2024-02-08T00:00:00-08:00,Town Hall Seattle,Readings & Lectures,Downtown
47,An Evening with Lucia Micarelli,2024-02-13T00:00:00-08:00,Dimitriou's Jazz Alley,Music,Downtown
51,An Evening with Lucia Micarelli :A Valentine’s...,2024-02-14T00:00:00-08:00,Dimitriou's Jazz Alley,Music,Downtown
241,An Evening with Jinjoo Cho,2024-04-19T00:00:00-07:00,415 Westlake,Music,Queen Anne / Seattle Center

In [13]:
import html

In [14]:
df['category'].apply(lambda x: html.unescape(x))

0                  Theatre
1                    Music
2                    Music
3      Readings & Lectures
4      Readings & Lectures
              ...
326                Theatre
327                Museums
328                Museums
329                Museums
330                Museums
Name: category, Length: 331, dtype: object

In [15]:
df.value_counts('category')

category
Music                         154
Sports                         58
Theatre                        39
Museums                        36
Readings & Lectures            23
Festivals & Special Events     11
Dance                           7
Visual Arts & Galleries         2
Film & Media Arts               1
Name: count, dtype: int64

In [16]:
df.value_counts('location')

location
Downtown                           132
Queen Anne / Seattle Center         74
Pioneer Square                      34
Fremont / Ballard                   24
Capitol Hill / Central District     16
University District                 15
South                               10
South Seattle                        6
Wallingford / Greenlake              6
West                                 5
Bellevue / Eastside                  4
International District               4
West Seattle                         1
Name: count, dtype: int64